$accentColor = #7371fc

.homepage-links {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.homepage-links a {
  border-radius: 4px;
  border: 2px solid $accentColor;
  font-size: 18px;
  font-weight: 700;
  padding: 13px 20px;
  width: 28%;
  max-width: 230px;
  text-align: center;
  margin: 30px 20px;
}
.homepage-links a:first-of-type { margin-left: 0; }
.homepage-links a:last-of-type { margin-right: 0; }